*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    text-align: center;
    padding: 12px;
}
form{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #a4c55e;
    border-radius: 20px;
    box-shadow: 5px 5px 10px ;

}
fieldset{
    border: 2px solid #0e0e0e;
    padding: 20px;
}