*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: -1; 
}

#bgVideo {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the video covers the whole screen */
}

h1{
    text-align: center;
    padding: 12px;
    color: white;
}

form{
    max-width: 600px;
    margin: auto;
    padding: 20px;
    /* background: #a4c55e; */
    background: rgba(164, 197, 94, 0.8);
    border-radius: 20px;
    box-shadow: 5px 5px 10px ;

}

fieldset{
    border: 2px solid #0e0e0e;
    padding: 20px;
}

legend{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px;
    font-weight: bold;
}

label{
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input,select,textarea{
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    border: 2px solid;
    border-radius: 10px;
    resize: vertical;
}

button {
    display: block;
    width: 30%;
    padding: 12px;
    color: black;
    border: 2px solid #0e0e0e;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    margin: auto;

  }
  
button:hover {
    background-color: #0056b3;
    color: white;
}
  
@media screen and (max-width: 767px) {
    form {
        max-width: 80%;
    }

    button {
        width: 50%; 
    }
}